<div id="customers-missing_email" class="position-relative">
    <h1>Customers <span class="text-danger">without email</span></h1>
    <!-- <p class="text-danger"><em>without email address</em></p> -->

    <%= link_to "+ Add new customer", new_customer_path, :class => 'btn btn-outline-secondary text-dark position-absolute top-0 end-0' %>

    <div class="my-3 d-flex gap-2">
        <%= link_to "<- Back to All Customers", customers_path, :class => 'btn btn-link' %>
        <%= link_to "Customers in alphabetic order", alphabetized_path, :class => 'btn btn-link' %>
    </div>

    <div id="customers" class="d-flex gap-2 flex-wrap">
        <% @customers.each do |customer| %>
        <%= render customer %>
        <% end %>
    </div>
</div>